.root {
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.selected {
    pointer-events: none;
    color: #09738d;
}

.item {
    color: #60d5f2;
    padding: 1em;
    cursor: pointer;
}