:root {
    --padding-poster: 0.5em;
}

.root {
    border-radius: 0.5em;
    background: linear-gradient(to bottom, #fff 80%,rgba(255,255,255,0) 98%);
    margin: 0.25em;
    height: 13em;
    width: 11em;
}

.title {
    font-size: 0.6em;
    font-weight: bold;
    padding: var(--padding-poster);
}

.poster {
    box-sizing: content-box;
    border-radius: 0.5em;
}

.year {
    font-size: 0.6em;
    text-align: right;
    padding: 0 var(--padding-poster);
}