.root {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pageNum {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 2em;
    height: 2em;

    &:hover {        
        color: #ffffff;
        background-color: #76767455;
        cursor: pointer;
    }
}

.selected {
    color: #fdfdfd;
    background-color: #76767499;
}