.root {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 0.5em;

    & > div {
        height: 13em;
    }
}