.root {
    padding: 0.5em 1em;
    color: #fff;
    background-color: #959495;
    border: 0.05em solid #B2B2B2;
    border-radius: 1em;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: #7c7c7c;
    }
}