:root {
    --border-widht: 0.05em;
}

.root {
    margin-top: 0.5em;
    padding: 1em;
    border: var(--border-widht) solid #8b8b8b;
    border-radius: 1em;
    background-color: #938F8C55;
}

.title {
    font-weight: bold;
    letter-spacing: 0.1em;
}