:root {
    --border-widht: 0.05em;
}

.root {
    border: var(--border-widht) solid #B2B2B2;
    border-radius: 1em;
}

.root2nd {
    padding: 1em;
    border: var(--border-widht) solid #8b8b8b;
    border-radius: 1em;
    background-color: #938F8C88;
}