.app {
    font-family: 'Inria Sans';
    font-size: 2em;
    margin: 0.5em;
    padding: 0.5em;

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;

        & > div {
            max-width: 1200px;
        }        
    }
}